html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}

/* ::-webkit-scrollbar {
  width: 0px;
  remove scrollbar space 
  background: transparent; 
  optional: just make scrollbar invisible
} */
input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-family: "Noto Sans", sans-serif;
  color: #13283f;
  font-weight: 400;
  background-color: #fff;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Noto Sans", sans-serif;
}

.wrapper {
  max-width: 1520px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.boxed {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dropdow {
  position: relative;
  cursor: pointer;
}
.dropdow-list {
  list-style: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 160px;
  margin-top: 15px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  padding: 12px;
  transition: all 0.2s linear;
  z-index: 10;
}
.dropdow-list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  top: 0;
  left: 0;
  background-color: transparent;
  transform: translateY(-100%);
}
.dropdow-item:not(:last-child) {
  margin-bottom: 8px;
}
.dropdow-link {
  color: #13283f;
  font-size: 13px;
  line-height: 1.1538461538;
}
.dropdow-link:hover {
  color: #6bd918;
}
.dropdow:hover .dropdow-list {
  opacity: 1;
  visibility: visible;
}

.dropdow-menu {
  position: relative;
  cursor: pointer;
}
.dropdow-menu-list {
  position: absolute;
  left: -100px;
  top: 100%;
  width: 800px;
  margin-top: 19px;
  background-color: #fff;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  transition: all 0.2s linear;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}
.dropdow-menu-list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  background-color: transparent;
  transform: translateY(-100%);
}
.dropdow-menu-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 22px;
  width: 100%;
  max-width: 180px;
}
.dropdow-menu-info::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 2px;
  background-color: #181938;
}
.dropdow-menu-category {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.dropdow-menu-title {
  color: #13283f;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.8461538462;
}
.dropdow-menu-title:hover {
  color: #6bd918;
}
.dropdow-menu-link {
  color: #e8e9eb;
  font-size: 12px;
  text-transform: capitalize;
}
.dropdow-menu-link:hover {
  color: #13283f;
}
.dropdow-menu-item {
  margin-bottom: 12px;
}
.dropdow-menu-item a {
  font-size: 14px;
  color: #13283f;
  line-height: 1.7857142857;
}
.dropdow-menu-item a:hover {
  color: #6bd918;
}
.dropdow-menu-images {
  flex-shrink: 0;
}
.dropdow-menu-image {
  display: block;
  margin-bottom: 18px;
}
.dropdow-menu:hover .dropdow-menu-list {
  opacity: 1;
  visibility: visible;
}

.button {
  display: inline-block;
  padding: 0 10px;
  line-height: 1;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  text-align: center;
}
.button-green {
  background-color: #6bd918;
  color: #fff;
}
.button-white {
  color: #13283f;
  background-color: #fff;
  line-height: 2.8571428571;
  padding: 0 20px;
}
.button-red {
  padding: 8px 28px;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #ec3d17;
}
.button-black {
  text-transform: uppercase;
  padding: 18px 65px;
  color: #fff;
  background-color: #333;
  font-size: 14px;
  font-weight: 700;
}
.button-black:hover {
  background-color: #78e723;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
}
.slick-slider-arrow {
  background-color: #fff;
  border-radius: 100rem;
  color: #999;
  width: 40px;
  height: 40px;
  font-size: 20px;
}
.slick-slider-prev {
  left: 20px;
}
.slick-slider-next {
  right: 20px;
}
.slick-news-arrow {
  background-color: #000;
  font-size: 25px;
  color: #fff;
  width: 50px;
  height: 50px;
}
.slick-news-arrow:hover {
  opacity: 0.65;
}
.slick-news-prev {
  left: 65px;
}
.slick-news-next {
  right: 65px;
}
.slick-product-arrow {
  background-color: #e7e7e7;
  color: #494949;
  width: 40px;
  height: 40px;
  font-size: 20px;
  opacity: 0.35;
}
.slick-product-arrow:hover {
  opacity: 0.65;
}
.slick-product-new-arrow {
  background-color: #e7e7e7;
  color: #494949;
  opacity: 0.35;
}
.slick-product-new-arrow:hover {
  opacity: 0.65;
}
.slick-product-new-prev {
  left: 25px;
}
.slick-product-new-next {
  right: 25px;
}
.slick-product-bestsell-arrow {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  opacity: 0.35;
}
.slick-product-bestsell-arrow:hover {
  opacity: 0.65;
}
.slick-product-bestsell-prev {
  left: 25px;
}
.slick-product-bestsell-next {
  right: 25px;
}

.page {
  padding: 12px 0;
  border-bottom: solid 2px #e8e9eb;
  margin-bottom: 30px;
}
.page-list {
  display: flex;
  align-items: baseline;
  gap: 0 10px;
}
.page-name {
  color: #13283f;
  font-size: 12px;
  line-height: 1.75;
  font-weight: 600;
}
.page-name.active {
  color: #6bd918;
}
.page-name.current {
  font-weight: 700;
}
.page-icon {
  font-size: 10px;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #13283f;
  font-weight: bold;
}

.heading {
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 1.40625;
}

.heading-small {
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 1.6666666667;
  text-transform: uppercase;
}

.header {
  padding-top: 12px;
  background-color: #181938;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.header-language-select {
  display: flex;
  align-items: center;
  gap: 0 12px;
}
.header-language-select img {
  width: 24px;
  height: 24px;
}
.header-language-select span {
  color: #e8e9eb;
  font-size: 13px;
  line-height: 1.1538461538;
}
.header-language-select span:hover {
  color: #fff;
}
.header-language-select span i {
  padding-left: 4px;
  font-size: 10px;
}
.header-language-item {
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
}
.header-language-item img {
  padding-right: 8px;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.header-auth-text {
  color: #e8e9eb;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.7692307692;
}
.header-auth-text:hover {
  color: #fff;
}
.header-auth-text i {
  padding-left: 4px;
  font-size: 12px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header-feature {
  display: flex;
  align-items: center;
}
.header-search {
  padding-right: 10px;
}
.header-search-form {
  display: flex;
  align-items: stretch;
}
.header-search-input {
  padding: 10px;
  width: 316px;
  height: 40px;
  font-family: "Noto Sans", sans-serif;
}
.header-search-submit {
  transform: translateX(-5px);
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu .menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0 28px;
}
.header-menu .menu-link {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.header-menu .menu-link i {
  font-size: 10px;
  padding-left: 5px;
}
.header-menu .promo:hover {
  background-color: #6bd918;
  color: #fff;
}
.header-bottom {
  background-color: #ffe178;
  margin-top: 12px;
}
.header-bottom .policy {
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-bottom .policy-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.header-bottom .policy-img {
  width: 100%;
  max-width: 30px;
  height: 30px;
}
.header-bottom .policy-link {
  font-size: 12px;
  line-height: 1.3333333333;
  font-weight: 500;
  text-transform: uppercase;
  color: #13283f;
}

.slider {
  margin-bottom: 40px;
}
.slider-item {
  height: 100%;
  width: 100%;
  flex: 1 0 100%;
}
.slider-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-dots {
  list-style: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -15px);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.slick-active button {
  background-color: #6bd918;
}

.banner-slide {
  padding-bottom: 42px;
}
.banner-slide-header {
  margin-bottom: 40px;
}

.brand {
  padding-bottom: 60px;
  position: relative;
}
.brand-header {
  margin-bottom: 35px;
}
.brand-list {
  display: flex;
  align-items: center;
}
.brand-item {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.brand-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.brand-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-header {
  margin-bottom: 45px;
}
.product-tag {
  display: inline-block;
  text-transform: uppercase;
  padding: 6px 14px;
  position: absolute;
  top: 0;
  right: 0;
}
.product-image {
  position: relative;
  width: 100%;
  margin-bottom: 18px;
}
.product-item {
  display: flex !important;
  flex-direction: column;
  border: solid 1px transparent;
  transition: all 0.2s linear;
}
.product-item:hover {
  border: solid 1px #89939f;
}
.product-content {
  padding: 0 12px 20px 12px;
  display: flex;
  flex-direction: column;
  height: 130px;
}
.product-brand {
  display: inline-block;
  margin-bottom: 5px;
  color: #89939f;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  line-height: 1.4285714286;
}
.product-title {
  margin-bottom: 21px;
  flex: 1;
}
.product-title a {
  line-height: 1.4285714286;
  font-size: 14px;
  color: #13283f;
  font-weight: 500;
}
.product-title a:hover {
  color: #78e723;
}
.product-cost {
  display: flex;
  align-items: center;
  gap: 0 5px;
}
.product-price {
  margin-top: auto;
  flex-shrink: 0;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.7857142857;
  color: #569d1b;
}
.product-price-sale {
  color: #ec3d17;
}
.product-price-old {
  text-decoration: line-through;
  color: #9b9b9b;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7857142857;
}
.product-new {
  padding-bottom: 60px;
}
.product-new-tag {
  color: #fff;
  background-color: #6bd918;
}
.product-new-item {
  margin: 0 6px;
}
.product-bestsell {
  padding-bottom: 60px;
}
.product-bestsell-tag {
  font-size: 14px;
  color: #fff;
  background-color: #ec3d17;
}
.product-bestsell-item {
  margin: 0 6px;
}
.product-promo {
  padding-bottom: 60px;
}
.product-promo-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
}
.product-promo-item {
  width: calc(25% - 12px);
  margin-left: 12px;
  margin-bottom: 18px;
}
.product-promo-tag {
  font-size: 14px;
  color: #fff;
  background-color: #ec3d17;
}
.product-promo-link {
  padding-top: 40px;
  text-align: center;
}

.banner {
  margin-bottom: 35px;
}
.banner img {
  width: 100%;
  max-width: 1520px;
  height: 100%;
}

.products {
  display: flex;
  justify-content: space-between;
  gap: 0 12px;
  margin-bottom: 150px;
}
.products-container {
  padding: 0 18px;
}
.products-banner {
  margin-bottom: 23px;
}
.products-banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-filter {
  margin-bottom: 20px;
}
.products-filter .filter {
  border-bottom: solid 2px #e8e9eb;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.products-filter .filter-title {
  font-size: 14px;
  font-weight: 700;
}
.products-filter .filter-select {
  padding: 6px;
  width: 140px;
  font-size: 13px;
  font-family: "Noto Sans", sans-serif;
  border: solid 2px #e8e9eb;
  cursor: pointer;
  color: #13283f;
}
.products .aside {
  width: 15%;
  flex-shrink: 0;
}
.products .article {
  width: 85%;
  flex: 1;
}
.products-col:not(:last-child) {
  border-bottom: solid 2px #e8e9eb;
  padding-bottom: 25px;
  margin-bottom: 22px;
}
.products-col-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 0 10px;
  cursor: pointer;
}
.products-col-heading {
  font-size: 15px;
  color: #13283f;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3333333333;
}
.products-col-item:not(:last-child) {
  cursor: pointer;
  margin-bottom: 15px;
}
.products-col-input {
  display: none;
}
.products-col-input:checked + .products-col-label::after, .products-col-input:checked + .products-col-label {
  opacity: 1;
  visibility: visible;
  font-weight: 700;
}
.products-col-label {
  position: relative;
  cursor: pointer;
  padding-left: 24px;
  color: #13283f;
  font-size: 14px;
}
.products-col-label::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: solid 2px #e8e9eb;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
}
.products-col-label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 5px;
  position: absolute;
  left: 4px;
  top: 6px;
  transform: rotate(-45deg);
  border-bottom: solid 2px #181938;
  border-left: solid 2px #181938;
  transition: all 0.25s linear;
  opacity: 0;
  visibility: hidden;
}
.products-list {
  display: flex;
  margin-left: -14px;
  flex-wrap: wrap;
}
.products-item {
  width: calc(25% - 14px);
  margin-left: 14px;
  margin-bottom: 18px;
  transition: all 0.45s linear;
}
.products-content {
  padding: 0 10px 10px 10px;
  height: 115px;
}
.products-title a {
  line-height: 1.4285714286;
  font-size: 14px;
  color: #13283f;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.products-title a:hover {
  color: #78e723;
}
.products-cost {
  margin-bottom: 14px;
  flex: 1;
}
.products-info {
  text-align: right;
  cursor: pointer;
  margin-top: auto;
  flex-shrink: 0;
}
.products-info-link {
  font-size: 20px;
  color: #13283f;
  display: inline-block;
}
.products-info-link:hover {
  color: #6bd918;
}
.products-info-link i {
  font-weight: 600;
}
.products-tag {
  display: inline-block;
  text-transform: uppercase;
  padding: 6px 11px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  font-size: 14px;
}
.products-new-tag {
  background-color: #6bd918;
  color: #fff;
}
.products-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
  padding-top: 30px;
}
.products-pages-item {
  display: inline-block;
  padding: 9px 12px;
  background-color: #fff;
  color: #13283f;
  font-size: 14px;
  border: solid 1px #e8e9eb;
}
.products-pages-item:hover {
  color: #6bd918;
}
.products-pages-item.active {
  background-color: #000;
  color: #fff;
  font-weight: 700;
}
.products-price {
  margin-top: auto;
  font-size: 15px;
  font-weight: 700;
  line-height: 2.3333333333;
  color: #569d1b;
}
.products-price-sale {
  color: #ec3d17;
}
.products-price-old {
  text-decoration: line-through;
  color: #9b9b9b;
  font-weight: 550;
  font-size: 14px;
  line-height: 1.7857142857;
}

.gender {
  margin-bottom: 75px;
}
.gender-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 55px;
  margin-bottom: 46px;
}
.gender-header .heading {
  cursor: pointer;
  color: #86919c;
}
.gender-header .heading:hover {
  color: #78e723;
}
.gender-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
}
.gender-item {
  width: calc(20% - 10px);
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 27px 0;
  border: solid 1px transparent;
  transition: all 0.2s linear;
}
.gender-item.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gender-item:hover {
  border: solid 1px #9b9b9b;
}
.gender-item:hover .gender-type {
  color: #6bd918;
}
.gender-image {
  width: 100%;
  height: 115px;
  margin-bottom: 40px;
}
.gender-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gender-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gender-name {
  color: #13283f;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6666666667;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.gender-name:hover {
  color: #6bd918;
}
.gender-type {
  font-size: 14px;
  color: #13283f;
  text-transform: uppercase;
  line-height: 1.7857142857;
  font-weight: 700;
}

.sport {
  padding-bottom: 50px;
}
.sport-header {
  margin-bottom: 40px;
}
.sport-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: -40px;
}
.sport-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(25% - 8px);
  height: calc(100% - 40px);
  margin-left: 8px;
  margin-bottom: 40px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.sport-item:hover .sport-image {
  opacity: 0.75;
  transition: all 0.2s linear;
}
.sport-item:hover .sport-name {
  background-color: #78e723;
}
.sport-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
}
.sport-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 23px 0;
  background-color: #181938;
}
.sport-name a {
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
}

.news {
  padding-bottom: 50px;
}
.news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.news-read-all:hover a, .news-read-all:hover i {
  color: #6bd918;
}
.news-read-all a {
  color: #13283f;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.7857142857;
  letter-spacing: 1.4px;
}
.news-read-all i {
  color: #13283f;
  font-size: 12px;
}
.news-list {
  padding: 0 16px;
  margin: 0 -22px;
}
.news-item {
  display: flex !important;
  flex-direction: column;
  margin: 0 22px;
}
.news-image {
  margin-bottom: 5px;
}
.news-title a {
  color: #13283f;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 700;
}
.news-title a:hover {
  color: #569d1b;
}

.footer-top {
  background-color: #181938;
  margin-bottom: 55px;
}
.footer-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-top-content .social {
  display: flex;
  align-items: center;
}
.footer-top-content .social-join {
  color: #fff;
  font-size: 15px;
  line-height: 1.4285714286;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  font-weight: 500;
  padding-right: 30px;
}
.footer-top-content .social-list {
  display: flex;
  align-items: center;
}
.footer-top-content .social-item {
  display: inline-block;
  color: #13283f;
  padding-right: 20px;
}
.footer-top-content .social-item img {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.footer-top-content .signup-form {
  display: flex;
  align-items: stretch;
}
.footer-top-content .signup-input {
  border: none;
  outline: none;
  padding: 16px 12px 16px 15px;
  background-color: #393a54;
  font-size: 16px;
  color: #fff;
  width: 340px;
}
.footer-top-content .signup ::-webkit-input-placeholder {
  color: #9494a3;
}
.footer-top-content .signup-button {
  padding: 18px;
  color: #181938;
  font-size: 15px;
  font-weight: 700;
}
.footer-top-content .signup-button:hover {
  color: #fff;
  background-color: #78e723;
}
.footer-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0 105px;
  border-bottom: solid 2px #e8e9eb;
  padding-bottom: 70px;
  margin-bottom: 14px;
}
.footer-heading {
  margin-bottom: 28px;
}
.footer-links {
  list-style-type: none;
}
.footer-item {
  margin-bottom: 22px;
}
.footer-link {
  color: #13283f;
  font-size: 14px;
}
.footer-link:hover {
  color: #6bd918;
}
.footer-cash {
  padding: 12px 0;
  background-color: #181938;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 550;
}
.footer-bottom {
  margin-bottom: 26px;
}
.footer-bottom-heading {
  margin-bottom: 5px;
  font-size: 11px;
}
.footer-bottom .copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom .copyright-text {
  color: #13283f;
  font-size: 12px;
  line-height: 1.75;
}

/*# sourceMappingURL=style.css.map */
